.DS_Store

## Intellij
*.idea
*.iml

# VSCode
.vscode/

## Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

## Environment normalization
/.bundle/
/vendor/bundle
.idea

## Node
/node_modules/