{%- assign working_groups = include.working-group | split: "," -%}
{%- for group in working_groups -%}
    {%- if group contains "<" -%}
        {%- assign groupparts = group | split: "<" -%}
        <a href="mailto:{{ groupparts[1] | remove: ">" }}">{{ groupparts[0] | strip }}</a>
    {%- elsif group contains "(@" -%}
        {%- assign groupparts = group | split: "(@" -%}
        <a href="https://github.com/{{ groupparts[1] | remove: ")" }}">{{ groupparts[0] | strip }}</a>
    {%- else -%}
        {{ group }}
    {%- endif -%}
    {% if forloop.last == false %}, {% endif %}
{%- endfor -%}
