---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'minima';

.site-header {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#search-container {
  position: absolute;
  top: 78px;
  right: 15px;
}

#search-input {
  border: solid #5DCA5D 2px;
  padding: 1px;
  float: right;
}
#results-container {
  background: white;
  list-style: none;
  text-align: right;
  margin-top: 35px;
  border: 1px solid #eee;
  //padding: 10px;
}
#results-container>li {
  padding: 0 20px;
}
@media (max-width: 930px){
  #search-container {
    width: 100%;
    position: relative;
    top: auto;
    right: auto;
  }
  #search-input-wrapper {
    width: 100%;
    display: grid;
    justify-content: center;
    margin-top: 10px;
  }

  #search-input {
    border: solid #5DCA5D 2px;
    padding: 1px;
    width: 400px;
    margin: auto;
    position: relative;
  }

  #results-container {
    background: white;
    list-style: none;
    margin-top: 5px;
    padding: 0 25px;
    text-align: left;
  }
}

@media (max-width: 400px) {
  #search-input {
    width: 100%;
  }
}

main.page-content {
  div.wrapper {
    max-width: unset;
  }
}

.ol-lower-latin {
  list-style-type: lower-latin;
}