---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'minima';

.site-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}


.site-header .wrapper > * {
  margin: auto;
  align-self: center;
}

.site-header .wrapper .site-title {
  font-size: 2em;
  text-align: right;
}

.hipstable {
  width: 100%;
  table-layout: auto;

  th {
    position: relative;
    cursor: pointer;
    padding-right: 30px;

    &::after {
      content: "\2195";
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0.8em;
    }

    &.asc::after {
      content: "\25B2";
    }

    &.desc::after {
      content: "\25BC";
    }
  }
}

@media screen and (max-width: 600px) {
  .site-header .wrapper {
    flex-direction: column;
  }
  
  .site-header .wrapper > * {
    margin: 0.5em 0; // Add some vertical space between items
  }

  .site-header .wrapper .site-title {
    font-size: 1.8em;
  }
  .hipstable, .hipstable thead, .hipstable tbody, .hipstable th, .hipstable td, .hipstable tr {
    display: block;
  }

  .hipstable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .hipstable tr {
    border: 1px solid #ccc;
  }

  .hipstable td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 60%;
    word-break: break-word;
    padding-top: 0px;
    min-height: 50px;

    &:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      word-break: break-word;
    }
  }

  .hipstable .hip-number:before { content: "Number"; }
  .hipstable .title:before { content: "Title"; }
  .hipstable .author:before { content: "Author"; }
  .hipstable .council-approval:before { content: "Needs Council Approval"; }
  .hipstable .last-call-date-time:before { content: "Review Period Ends"; }
  .hipstable .release:before { content: "Release"; }
}

.status-tooltip {
  margin-left: 5px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #069;
  font-size: 14px;

  .status-tooltip-box {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 1000;
    font-size: 12px;
    line-height: 1.2;
    max-width: 300px;
    word-wrap: break-word;
  }
}

#search-container {
  position: relative;
  z-index: 1;
  top: 4px;
  width: 250px;
  margin: auto;
}

#search-input {
  border: 2px solid lightgray;
  padding: 4px 20px;
  width: 100%;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: border-color 0.2s;
}

#search-input:focus {
  border-color: #5DCA5D;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#results-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  list-style: none;
  text-align: left;
  margin-top: 5px;
  margin-left: initial;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 2;

  @media (min-width: 601px) {
    width: 500px; // This should be the same as the width of the search container
  }
}

.results-visible {
  border: 1px solid #eee;
  display: block;
}

#results-container > li {
  padding: 12px 20px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s;
}

#results-container > li:last-child {
  border-bottom: none;
}

#results-container > li:hover {
  background-color: #f8f8f8;
}


@media (max-width: 930px) {
  .site-header .wrapper .site-title {
    margin-left: 0;
  }
}

main.page-content {
  div.wrapper {
    max-width: unset;
  }
}

.ol-lower-latin {
  list-style-type: lower-latin;
}

$font-size: 0.875rem;
$border-radius: 4px;
$fixed-width: 250px;
$border-color: #ececec;
$light-border-color: #ececec;
$container-background-color: #f9f9f9;
$drop-shadow-color: rgba(0, 0, 0, 0.1);
$container-width: 80%;
$selection-background: #333;
$selection-color: #fff;

* {
  box-sizing: border-box;
}

.hip-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: $container-background-color;
  border: 1px solid $light-border-color;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px $drop-shadow-color;
  gap: 20px;
  margin: 20px auto;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    width: $container-width;
    max-width: 1000px;
  }
}

.select2-container--default .select2-selection--multiple {
  border-color: $border-color;
  background-color: $container-background-color;
  min-width: 250px;
  max-width: $fixed-width;

  .select2-selection__choice {
    background-color: $selection-background;
    color: $selection-color;
    max-width: $fixed-width;
  }
  
  .select2-selection__placeholder,
  .select2-selection__rendered {
    color: $selection-background;
  }
}

@media (max-width: 767px) {
  .hip-filters {
    flex-direction: column;
  }

  .filter-group {
    width: 100%;
    max-width: $fixed-width;
  }

  .select2-container {
    width: 100% !important;
    max-width: $fixed-width;
  }
}

.no-hips-message {
  display: none;
  font-size: 25px;
  color: #d9534f;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  border: 1px solid #d9534f;
  background-color: #f2dede;
}

