---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'minima';

.site-header .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}

.site-header .wrapper .site-title {
  margin-left: 0;
  font-size: 2em;
  text-align: center;
}

.hips-home-link-container {
  width: 100%;
  text-align: center;
}

.hipstable {
  width: 100%;
  table-layout: auto;

  th {
    position: relative;
    cursor: pointer;
    padding-right: 30px;

    &::after {
      content: "\2195";
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0.8em;
    }

    &.asc::after {
      content: "\25B2";
    }

    &.desc::after {
      content: "\25BC";
    }
  }
}

@media screen and (max-width: 600px) {
  .site-header .wrapper {
    margin-right: 0;
    padding: 1em;
  }
  .site-header .wrapper .site-title {
    font-size: 1.8em;
  }
  .hipstable, .hipstable thead, .hipstable tbody, .hipstable th, .hipstable td, .hipstable tr {
    display: block;
  }

  .hipstable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .hipstable tr {
    border: 1px solid #ccc;
  }

  .hipstable td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 60%;
    word-break: break-word;
    padding-top: 0px;
    min-height: 50px;

    &:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      word-break: break-word;
    }
  }

  .hipstable .hip-number:before { content: "Number"; }
  .hipstable .title:before { content: "Title"; }
  .hipstable .author:before { content: "Author"; }
  .hipstable .council-approval:before { content: "Needs Council Approval"; }
  .hipstable .last-call-date-time:before { content: "Review Period Ends"; }
  .hipstable .release:before { content: "Release"; }
}

.status-tooltip {
  margin-left: 5px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #069;
  font-size: 14px;

  .status-tooltip-box {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 1000;
    font-size: 12px;
    line-height: 1.2;
    max-width: 300px;
    word-wrap: break-word;
  }
}

#search-container {
  position: relative;
  z-index: 1;
  top: 10px;
  width: 250px;
  margin: auto;
}

#search-input {
  border: 2px solid lightgray;
  padding: 4px 20px;
  width: calc(100% - 36px);
  border-radius: 25px;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: border-color 0.2s;
}

#search-input:focus {
  border-color: #5DCA5D;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#results-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  list-style: none;
  text-align: left;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 2;
}

.results-visible {
  border: 1px solid #eee;
  display: block;
}

#results-container > li {
  padding: 12px 20px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s;
}

#results-container > li:last-child {
  border-bottom: none;
}

#results-container > li:hover {
  background-color: #f8f8f8;
}


@media (max-width: 930px) {
  .site-header .wrapper .site-title {
    margin-left: 0;
  }
}

main.page-content {
  div.wrapper {
    max-width: unset;
  }
}

.ol-lower-latin {
  list-style-type: lower-latin;
}


.filter-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

.filter-group {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.filter-group:last-child {
  margin-right: 0;
}

#status-filter {
  flex-grow: 2;
}

.select2-container {
  width: auto !important;
}

.filter-label {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.filter-label input[type="checkbox"] + span.custom-checkbox {
  margin-right: 4px;
}

.select2-container--default .select2-selection--multiple {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 250px;
  min-width: 150px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px 6px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  line-height: normal;
}

@media (max-width: 768px) {
  .filter-wrap {
    flex-direction: column;
  }

  .filter-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  .filter-group label {
    flex: 1 1 auto;
    margin-right: 5px;
    white-space: nowrap;
  }

  .filter-group:last-child {
    margin-bottom: 0;
  }

  .select2-container {
    width: 100% !important;
  }

  .select2-container--default .select2-selection--multiple {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}

.hips-home-link-container {
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px 0;
}

.hips-home-link {
  font-size: 1.5em;
  color: #0056b3;
  text-decoration: none;
}

.hips-home-link:hover {
  text-decoration: underline;
}

