<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
{%- include header.html -%}

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        {{ content }}
    </div>
</main>

{%- include footer.html -%}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="{{ '/assets/js/tooltip.js' | relative_url }}"></script>
<script src="{{ '/assets/js/hipstable.js' | relative_url }}"></script>
<script src="{{ '/assets/js/filter.js' | relative_url }}"></script>
<script src="{{ '/assets/js/pr-integration.js' | relative_url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</body>

</html>