---
layout: default
---

<div class="home">
  <h1 class="page-heading">
    <a href="https://github.com/hashgraph/hedera-improvement-proposal/blob/master/{{page.path}}" target="_blank"><img
        src="/assets/images/gitHub-mark.png" alt="GitHub Logo" width="30" height="30"> HIP-{{ page.hip | xml_escape
      }}:</a> {{ page.title | xml_escape }}
  </h1>
  <h3>{{ page.description | xml_escape }}</h3>
  <table>
    <tr>
      <th>Author</th>
      <td>{% include authorslist.html authors=page.author %}</td>
    </tr>
    {% if page["working-group"] != undefined %}
    <tr>
      <th>Working Group</th>
      <td>{% include workinggrouplist.html working-group=page.working-group %}</td>
    </tr>
    {% endif %}
    {% if page["requested-by"] != undefined %}
    <tr>
      <th>Requested By</th>
      <td>{{ page.requested-by }}</td>
    </tr>
    {% endif %}
    {% if page.discussions-to != undefined %}
    <tr>
      <th>Discussions-To</th>
      <td><a href="{{ page.discussions-to | uri_escape }}">{{ page.discussions-to | xml_escape }}</a></td>
    </tr>
    {% endif %}
    <tr>
      <th>Status</th>
      <td>
        {{ page.status | xml_escape }}
        <span class="tooltip" data-tooltip="{{ page.status }}" style="text-decoration:none">ⓘ</span>
      </td>
    </tr>
    {% if page.needs-council-approval != undefined or page.needs-tsc-approval != undefined %}
    <tr>
      <th>
        Needs TSC Approval
      </th>
      <td>
        {% assign needs_approval = false %}
        {% if page.needs-council-approval %}{% assign needs_approval = true %}{% endif %}
        {% if page.needs-tsc-approval %}{% assign needs_approval = true %}{% endif %}

        {% if needs_approval %}
        Yes <span class="tooltip" data-tooltip="{% if page.needs-council-approval %}council{% else %}tsc{% endif %}"
          style="text-decoration:none">ⓘ</span>
        {% else %}
        No <span class="tooltip" data-tooltip="{% if page.needs-council-approval %}council{% else %}tsc{% endif %}"
          style="text-decoration:none">ⓘ</span>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if page.last-call-date-time != undefined %}
    <tr>
      <th>Review period ends <span class="tooltip" data-tooltip="reviewPeriodEnds" style="text-decoration:none">ⓘ</span>
      </th>
      <td>
        {{ page.last-call-date-time | date_to_rfc822 }}
      </td>
    </tr>
    {% endif %}
    <tr>
      <th>Type</th>
      <td>
        {{ page.type | xml_escape }}
        <span class="tooltip" data-tooltip="{{ page.type }}" style="text-decoration:none">ⓘ</span>
      </td>
    </tr>
    {% if page.category != undefined %}
    <tr>
      <th>Category</th>
      <td>
        {{ page.category | xml_escape }}
        <span class="tooltip" data-tooltip="{{ page.category }}" style="text-decoration:none">ⓘ</span>
      </td>
    </tr>
    {% endif %}
    <tr>
      <th>Created</th>
      <td>{{ page.created | xml_escape }}</td>
    </tr>
    {% if page.updated != undefined %}
    <tr>
      <th>Updated</th>
      <td>{{ page.updated | xml_escape }}</td>
    </tr>
    {% endif %}
    {% if page.requires != undefined %}
    <tr>
      <th>Requires</th>
      <td>{% include hipnums.html hips=page.requires %}</td>
    </tr>
    {% endif %}
    {% if page.replaces != undefined %}
    <tr>
      <th>Replaces</th>
      <td>{% include hipnums.html hips=page.replaces %}</td>
    </tr>
    {% endif %}
    {% if page["superseded-by"] != undefined %}
    <tr>
      <th>Superseded by</th>
      <td>{{ page.superseded-by | xml_escape }}</td>
    </tr>
    {% endif %}
    {% if page.release != undefined %}
    <tr>
      <th>Release</th>
      <td>
        {% if page.category == "Mirror" %}
        <a href="https://github.com/hashgraph/hedera-mirror-node/releases/tag/{{page.release}}">{{ page.release |
          xml_escape }}</a>
        {% else %}
        <a href="https://github.com/hashgraph/hedera-services/releases/tag/{{page.release}}">{{ page.release |
          xml_escape }}</a>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if page.resolution != undefined %}
    <tr>
      <th>Resolution</th>
      <td><a href="{{page.resolution | uri_escape }}">{{ page.resolution | xml_escape }}</a></td>
    </tr>
    {% endif %}
  </table>

  <div class="toc">
    <h2>Table of Contents</h2>
    {% include toc.html html=content sanitize=true h_max=3 %}
  </div>

  {% include anchor_headings.html html=content anchorClass="anchor-link" beforeHeading=true %}

  <h2>Citation</h2>
  <p>Please cite this document as:</p>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "TechArticle",
    "headline": "HIP-{{ page.hip | xml_escape }}: {{ page.title | xml_escape }}{% if page.status == "Draft" or page.status == "Last Call" %} [DRAFT]{% endif %}",
    "author": "{{ page.author }}",
    "name": "HIP-{{ page.hip | xml_escape }}: {{ page.title | xml_escape }}{% if page.status == "Draft" or page.status == "Last Call" %} [DRAFT]{% endif %}",
    "dateCreated": "{{ page.created | date: "%Y-%m-%d" }}",
    "datePublished": "{{ page.created | date: "%Y-%m-%d" }}",
{% if page["discussions-to"] != undefined %}
    "discussionUrl": "{{ page["discussions-to"] | uri_escape }}",
{% endif %}
    "inLanguage": "en-US",
    "license": "#copyright",
    "copyrightYear": "{{ page.created | date: "%Y" }}"
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tooltipData = {
      status: {
        Draft: "⚠️ Initial stage. Formally tracked once merged by a HIP Editor when properly formatted.",
        Review: "📖 Ready for Editorial Review. Subject to changes; feedback appreciated.",
        Deferred: "⏸ Addressed in another HIP. Paused in progress.",
        Withdrawn: "🛑 Withdrawn by the Author(s), finality achieved. Can be resurrected as a new proposal.",
        Stagnant: "🚧 No activity for 6+ months. Can return to Draft by Authors or Editors.",
        Rejected: "❌ Not accepted. Rejected ideas are recorded with reasoning.",
        "Last Call": "📢 Final review window before 'Accepted'. Subject to change if issues found.",
        "TSC Review": "⚖️ Under TSC review. Awaiting approval, subject to feedback.",
        Accepted: "👍 Went through 'Last Call' without content changes. Ready for implementation.",
        Final: "✅ Implemented in code and released. Represents a standard in a state of finality.",
        Active: "🌟 Informational/Process HIPs that made it through Last Call. Can be 'Withdrawn' or 'Replaced'.",
        Replaced: "🔄 Overwritten by a newer standard or implementation."
      },
      type: {
        "Standards Track": "📜 Standards Track HIPs describe protocol changes or new features.",
        Informational: "📚 Informational HIPs describe a design issue or provide general guidelines.",
        Process: "⚙️ Process HIPs propose changes to the HIP process or environment.",
      },
      category: {
        Core: "💠 Core HIPs relate to the core protocol or infrastructure.",
        Service: "🌐 Service HIPs address Hedera Services",
        Mirror: "🔍 Mirror HIPs relate to the Hedera Mirror Node",
        Application: "📱 Application HIPs are specific to applications built on top of the Hedera platform.",
      },
      council: "👥 This HIP required Hedera Council Approval (historical) because it made changes at the protocol level.",
      tsc: "👥 This HIP requires TSC approval for implementation because it makes changes at the protocol level.",
      "reviewPeriodEnds": "⏳ The last call review period ends on this date, after which the HIP's status may change.",
    };

    const tooltipElements = document.querySelectorAll(".tooltip");
    tooltipElements.forEach((tooltipElement) => {
      const tooltipValue = tooltipElement.getAttribute("data-tooltip");
      const tooltipContent = getTooltipContent(tooltipValue);
      tooltipElement.setAttribute("data-tooltip", tooltipContent);
    });

    function getTooltipContent(value) {
      if (tooltipData[value]) {
        return tooltipData[value];
      }
      for (const key in tooltipData) {
        if (tooltipData[key][value]) {
          return tooltipData[key][value];
        }
      }
      return "";
    }
  });
</script>

<script>
  const tooltipElements = document.querySelectorAll('.tooltip');
  tooltipElements.forEach(tooltip => {
    tooltip.addEventListener('mouseover', () => {
      const tooltipText = tooltip.getAttribute('data-tooltip');
      const tooltipBox = document.createElement('div');
      tooltipBox.classList.add('tooltip-box');
      tooltipBox.innerText = tooltipText;
      tooltip.appendChild(tooltipBox);
    });

    tooltip.addEventListener('mouseout', () => {
      const tooltipBox = tooltip.querySelector('.tooltip-box');
      if (tooltipBox) tooltip.removeChild(tooltipBox);
    });
  });
</script>

<style>
  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    color: #069;
  }

  .tooltip-box {
    position: absolute;
    left: 0;
    top: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 1000;
    font-size: 12px;
    line-height: 1.2;
  }

  .wrapper {
    margin-top: -15px;
  }
</style>