name: Dispatch Status Change Notifications (discord and email)
permissions:
    contents: read
    actions: write
on:
  push:
    branches:
      - test

jobs:
  DispatchNotifications:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Get status changes and hipnames then dispatch jobs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh workflow run send-email.yml -f "filename=test-hip" -f "status=Last Call"