name: Send status email
on:
  workflow_dispatch:
     inputs:
       filename:
         description: "Filename"
         type: string
         required: true
       status:
         description: "Status"
         type: string
         required: true
permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  StatusChangeNotifications:
    runs-on: [self-hosted, Linux, medium, ephemeral]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
        with:
          egress-policy: audit

      - name: Send mail
        uses: dawidd6/action-send-mail@2cea9617b09d79a095af21254fbcb7ae95903dde # v3.12.0
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: hips@hedera.com
          password: ${{ secrets.GOOGLE_APP_PASS }}
          subject: ${{ github.event.inputs.filename }} moved into ${{ github.event.inputs.status }}
          to: ${{ secrets.LAST_CALL_EMAILS }}
          from: The HIPs repository
          body: This is an automated message, please do not reply. Check https://hips.hedera.com/hip/${{ github.event.inputs.filename }} for more info. Thank you.
          secure: true
          priority: medium